@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Bebas+Neue&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
/* font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    box-sizing: border-box;
}
body {
    background-image: url("./bg_project-1.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin:0 0;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

span{
    font-size: 10px;
    font-weight: bold;
}